/* 								4 значения
				Если задано четыре значения, то первое значение задает скругление для верхнего левого угла, второе - для верхнего правого, третье - для нижнего правого угла, а четвертое - для нижнего левого угла: */

/* #elem{
	width: 100px;
	height: 100px;
	border: 1px solid green;
	border-radius: 10px 20px 30px 40px;
} */

/* 				Если задано два значения, то первое значение задает скругление для 							верхнего правого и нижнего левого углов, второе - для верхнего левого и 					нижнего правого: */
/* #elem{
	width: 100px;
	height: 100px;
	border: 1px solid green;
	border-radius: 5px 20px;
} */

					/* Если задано три значения, то первое значение задает скругление для верхнего левого угла, второе - одновременно для верхнего правого и нижнего левого, а третье - для нижнего правого угла. */

#elem{
	width: 100px;
	height: 100px;
	border: 1px solid red;
	border-radius: 5px 15px 15px;
}					